<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Restauracja orientalna Bielsko, kuchnia azjatycka, Żółty Smok Bielsko-Biała, zolty smok, kuchnia orientalna, restauracja orientalna, chińska, wietnamska, tajska.">
    <meta name="description" content="Restauracja orientalna Żólty Smok w Bielsku-Białej, ul.Karpacka 13. oferuje smaczne potrawy kuchni orientalnej. Zamów przez telefon 33 49 79 888.">
    <title>Żółty Smok</title>
    {% block css_files %}  {% endblock css_files %}
</head>
<body>
{% block navbar %}{% endblock navbar %}
{% block content %}

{% endblock content%}
</body>
</html>